/* vars */
:root {
  /* Color Theme Swatches in Hex */
  --clr-yellow-0: hsl(46, 96%, 75%);
  --clr-yellow-1: hsl(46, 96%, 51%);

  --clr-yellow-2: hsl(46, 66%, 49%);

  --clr-brown-1: rgb(166, 142, 63);

  --clr-brown-2: hsl(46, 30%, 37%);

  --clr-brown-3-5: hsl(47, 18%, 40%);

  --clr-brown-3: rgb(81, 75, 56);

  --clr-brown-4: hsl(45, 18%, 24%);

  --clr-brown-5: hsl(47, 18%, 20%);

  --clr-brown-6: hsl(47, 18%, 15%);

  --clr-brown-7: hsl(47, 18%, 10%);

  --clr-primary-grey: hsl(30, 8%, 65%);
  --clr-primary-black: hsl(30, 8%, 5%);
  --clr-primary-white: hsl(0, 0%, 100%);

  --clr-link-blue: hsl(202, 37%, 60%);
  --clr-code-green: green;

  /* text styles */
  --ff-primary: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --ff-secondary: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --ltr-spacing: 0.025rem;

  /* other styles */
  --border-rad: 0.25rem;
  --line-height: 1.5;
}

/* reset default browser settings */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #### global styles START #### */
header {
  height: 100px;
  background-color: var(--clr-brown-7);
  margin: 0 0 2rem 0;
}

body {
  background-color: var(--clr-primary-black);
  font-family: poppins;
  color: var(--clr-primary-grey);
  letter-spacing: var(--ltr-spacing);
  font-size: 16px;
  /* use grid to make footer stick to the bottom of the page */
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
}
code {
  text-transform: none;
}

main {
  padding: 0 1vw;
}

footer {
  background-color: var(--clr-brown-7);
  margin-top: 2rem;
}

p,
li {
  max-width: 66ch;
  line-height: var(--line-height);
}

p:not(:last-of-type) {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: var(--clr-link-blue);
}

ul {
  margin: 0.5rem 1rem 2rem 1rem;
}

section {
  padding-bottom: 2rem;
}

samp {
  background-color: black;
  padding: 0.0125rem 0.125rem;
  border-radius: 0.25rem;
}

.code-block {
  padding: 1rem;
}

pre {
  width: 66ch;
  max-width: 100%;
  overflow-x: scroll;
}

.language-php {
  border-radius: var(--border-rad);
}
/* #### global styles END #### */

.container {
  padding-bottom: 0;
  max-width: 100vw;
}
